# Python
__pycache__/
*.py[oc]
build/
dist/
wheels/
*.egg-info
.pytest_cache/
.pytest_mplconfig/
.venv/
__pycache__/
*.pyc
.ipynb_checkpoints/
.env
.env.*

# scratch
scratch/
lightning_logs/
results/
data/
old/
notebooks/
notes/

# LaTeX
tex/
tex/*
dtgme-paper/
/dtgme-paper/

# MACOSX
.DS_Store
__MACOSX/
__MACOSX__/

# editors but keep project settings
.codex
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
.agents
AGENTS.md